<mat-card class="example-card" appearance="outlined">
  <mat-card-header>
    <mat-card-title i18n>New Denomination: {{ currentCentValue() | money }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <table mat-table [dataSource]="breakdownRows()" class="mat-elevation-z8 demo-table">
      <!-- Denomination Column -->
      <ng-container matColumnDef="denomination">
        <th mat-header-cell *matHeaderCellDef i18n>Denomination</th>
        <td mat-cell *matCellDef="let element">{{ element.denomination | money }}</td>
      </ng-container>

      <!-- Value Column -->
      <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef i18n>Quantity</th>
        <td mat-cell *matCellDef="let element">{{ element.value }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </mat-card-content>
</mat-card>
