<div class="origin-container">
  <mat-label id="origin-label" class="origin-container__lable" i18n
    >Pick your calculation origin</mat-label
  >
  <mat-radio-group
    aria-labelledby="origin-label"
    class="origin-container__radio-group"
    [value]="origin()"
    (change)="setOrigin($event.value)"
  >
    @for (option of originOptions; track option.value) {
    <mat-radio-button [value]="option.value">{{ option.viewValue }}</mat-radio-button>
    }
  </mat-radio-group>
</div>
<form class="denom-form">
  <mat-form-field class="denom-form__field" [appearance]="'outline'">
    <mat-label i18n>Value to denominate</mat-label>
    <input matInput type="value" [formControl]="currencyControl" />
    <span matTextPrefix>€&nbsp;</span>
    @if (currencyControl.hasError('pattern') && !currencyControl.hasError('required')) {
    <mat-error i18n>Please enter a valid Currency value e.g. 123.15</mat-error>
    } @if (currencyControl.hasError('required')) {
    <mat-error i18n>Value is <strong>required</strong></mat-error>
    }
  </mat-form-field>
  <button
    class="denom-form__button"
    matButton="filled"
    [disabled]="!currencyControl.valid || isCalculating()"
    (click)="calculateDenomination(currencyControl.value!)"
  >
    @if (isCalculating()) {
    <mat-spinner class="denom-form__button__spinner" diameter="16"></mat-spinner>
    } @else {
    <ng-container i18n>denominate</ng-container>
    }
  </button>
</form>

<div class="table-container">
  <app-breakdown-table
    [breakdownRows]="breakdownRows()"
    [currentCentValue]="currentCentValue()"
  ></app-breakdown-table>
  <app-difference-table
    [difference]="difference()"
    [lastCentValue]="lastCentValue()"
  ></app-difference-table>
</div>
