.origin-container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__lable {
    font-size: 1.3rem;
  }
  &__radio-group {
    display: flex;
    gap: 1rem;
  }
}

.denom-form {
  padding: 0 1rem;
  width: 100%;
  display: grid;
  &__field {
    min-width: 300px;
  }
  &__button {
    margin-top: 0.5rem;
    &__spinner {
      --mat-progress-spinner-active-indicator-color: var(--mat-sys-on-primary);
    }
  }
}

.table-container {
  padding: 1.5rem 1rem 0 1rem;
  display: flex;
  gap: 1rem;
}
