@use '@angular/material' as mat;
@use '@angular/cdk';
@use 'themes/azure-blue.scss';

body {
  background: var(--mat-sys-background);
  color: var(--mat-sys-on-background);
  font: var(--mat-sys-body-medium);
}

//Button styles for different themes
.primary-button {
  --mat-icon-button-icon-color: var(--mat-sys-primary);
  --mat-button-filled-container-color: var(--mat-sys-primary);
  --mat-button-filled-label-text-color: var(--mat-sys-on-primary);
}
.accent-button {
  --mat-icon-button-icon-color: var(--mat-sys-tertiary);
  --mat-button-filled-container-color: var(--mat-sys-tertiary);
  --mat-button-filled-label-text-color: var(--mat-sys-on-tertiary);
}
.on-primary-icon-button {
  --mat-icon-button-icon-color: var(--mat-sys-on-primary);
}
.on-primary-container-icon-button {
  --mat-icon-button-icon-color: var(--mat-sys-on-primary-container);
}
